<div class="col-md-3 col-sm-12" >
    <div class="form-group">
        <label class="col-form-label">Patient Type:</label>
        <div class="bootstrap-badge d-flex gap-2">
            <a href="javascript:void(0)" data-value="1" class="badge badge-pill badge-secondary">Direct</a>
            <a href="javascript:void(0)" data-value="2" class="badge badge-pill badge-info">Pact</a>
            <a href="javascript:void(0)" data-value="3" class="badge badge-pill badge-success" data-bs-toggle="modal" data-bs-target="#offerModal">Offer</a>
        </div>
    </div>
</div>
<div class="col-xl-3 col-md-6 col-sm-12">
    <div class="form-group">
        <label class="col-form-label">Service:</label>
        <select class="form-control" id="service" name="service">
            <option value="">Choose..</option>
            <option value="1">OT</option>
            <option value="2">PT</option>
            <option value="3">CT</option>
        </select>
    </div>
</div>